<h1>CREAR PARTICIPANTE</h1>

<a href="/" class="btn btn-warning">CREAR</a>
<br>
<br> {{#if mensaje}}
<div class="alert alert-danger">{{mensaje}}</div>
{{/if}}
<br>

<form method="POST" action="/crear">
    <div class="form-group">
        <label for="numCarrera">Número carrera</label>
        <input type="number" class="form-control" name="numCarrera">
    </div>

    <div class="form-group">
        <label for="dorsal">Dorsal</label>
        <input type="number" class="form-control" name="dorsal">
    </div>

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre">
    </div>

    <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" name="apellidos">
    </div>

    <div class="form-group">
        <label for="posicionGeneral">Posicion general</label>
        <input type="number" class="form-control" name="posicionGeneral">
    </div>

    <div class="form-group">
        <label for="DNI">DNI</label>
        <input type="text" class="form-control" name="DNI">
    </div>


    

    <input type="submit" value="Crear" class="btn btn-info">
</form>